<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.airport.AirportMapper">

	<!-- 공항정보 조회 -->
	<select id="selectTest" resultType="string">
		select * from airport_db;
	</select>

<!-- 	<insert id="insertList" -->
<!-- 		parameterType="com.example.demo.aiport.ListVO"> -->
<!-- 		insert into airport_db(airportId, airportNm) -->
<!-- 		values(#{airportId}, #{airportNm}) -->
<!-- 	</insert> -->


</mapper>